<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li><a href="/"><strong>[[_home/e]]</strong></a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="/video">Video</a></li>
            <li><a href="#">Four</a></li>
            <li><a href="#">Five</a></li>
            <li><a href="#">Six</a></li>
        </ul>
    </div>
</div>