[[layout=admin]]


<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">

            <ul class="tabs vertical animate-in" id="adminTabs" data-tabs>
                <li class="tabs-title"><a href="#panel_settings">Settings</a></li>
                [[__nav_items]]
            </ul>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
            <form action="" method="post" enctype="multipart/form-data">
                <div class="row header sticky">
                    <div class="column large-12">
                        <a class="logo" href="/admin"></a>
                        <button type="button" class="show-for-small-only open-menu menu-icon" data-toggle="offCanvasRight"></button>
                        <a href="/admin-logout" class="hide-for-small-only button">Log Out</a>
                    </div>
                </div>
                <div class="row content-row">
                    <div class="medium-3 columns sidebar hide-for-small-only">
                        <ul class="tabs vertical animate-in" id="adminTabs" data-tabs  >
                            <li class="tabs-title"><a href="#panel_settings">Settings</a></li>
                            [[__nav_items]]
                            
                        </ul>
                    </div>
                    <div class="medium-9 small-large columns content">
                        <div class="tabs-content vertical animate-in" data-tabs-content="adminTabs">
                            [[__page_strings]]
                            <div class="tabs-panel" id="panel_settings"  >
                                [[__settings]]
                            </div>
                            <input type="submit" class="button" value="Save Changes" />
                        </div>
                    </div>
                </div>
                <input type="hidden" name="csrf" value="[[__csrf]]" />
            </form>





        </div>
    </div>
</div>



