[[layout=admin]]
<div class="row header sticky">
	<div class="column large-12">
		<a class="logo" href="/admin"></a>
	</div>
</div>
<div class="row login-section">
    <form action="" method="post">

        [[__errors]]
            <div class="column large-4">
                <label>Username
                    <input type="text" name="form[username]" placeholder="Username" required />
                </label>
            </div>
            <div class="column large-4 ">
                <label>Password
                    <input type="password" name="form[password]" placeholder="Password" autocomplete="off" required />
                </label>
            </div>
            <div class="large-12 columns">
                <input type="submit" class="button" value="Log In" />
            </div>
    </form>
</div>